
body{
  background-image: url(./assets/images/principalBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center ;
    margin-left: 5%;
    margin-right: 5%;
   
      /*Header*/
}

#logo-img {
    width: 900px;
    margin-bottom: 10%;
     
}
/* Start Game*/
#start-container{
  text-align: center;

}
#intro{
  height: 500px;
  font-size: 20px;
  font-weight: bolder;
  width: 500px;
  display: flex;
  
  align-items: center;
  
}
#instructions{
  width: 500px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}
#instructions li{
  list-style: none;
}

#specialHabilities{
  width: 500px;
}
#start-container {
display: flex;
flex-direction: row;
align-items: center;
}

    /*Game window*/
#my-canvas{
    display: none;  
}

#start-container{
  display: flex;
  align-items: center;
  
  height: 800px;
  justify-content: space-around;
  color: yellow;
}

#startBtn{
  width: 800px;
}
#startBtn:hover{
  cursor:pointer;
  width: 900px;
  
}
#play-instructions-container{
display: none;
color: yellow;
}
#specialHabilities2{
  width: 500px;
  margin-left: 50px;
}

/*Score*/

#main-container{
 display: flex;
 flex-direction: row;
 align-items:stretch;
}
#score-container{
  margin-left: 50px;
  display: none;
  
}
#scoreP{
color: yellow;
font-size: 90px;
-webkit-text-stroke: 3px black;

}
#second-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#abilities{
  display: flex;
  flex-direction: row;
}
#shield{
  width: 180px;
  display: none;
}
#superShot{
  width: 9ss  0px;

  display: none;
}
/*  Volume */
#volume-container{
  display: flex;
  justify-content: center;
  width: 800px;
  margin-right: 450px;
}
#volumeBtn{
  height: 130px;
  display:none ;
}
#noVolumeBtn{
  height: 130px;
  display: none
  
}
#volumeBtn:hover{
 cursor: pointer;
 height: 170px;
}
#noVolumeBtn:hover{
  cursor: pointer;
  height: 170px;
}
#masVolumeBtn{
  height: 130px;
  display: none
}
#menosVolumeBtn{
  height: 130px;
  display: none

}
#masVolumeBtn:hover{
  cursor: pointer;
  height: 170px;
}
#menosVolumeBtn:hover{
  cursor: pointer;
  height: 170px;

}



/*Game Over*/
#gameOverScreen{
margin-bottom: 50%;
display: none;

}
#game-over{
  width: 500px;
  margin-left: 25%;
}
#restartBtn {
  width: 500px;
  margin-left:25% ;
}

#restartBtn:hover {
  cursor:pointer ;
  width: 650px;
}